.media {
    width: 100%;
}
.space-image {
    width: 100%;
    margin: 0 auto;
}

@media(min-width: 700px) {

    .media-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .space-image {
        width: 65%;
    }
}